.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.card {
  border-bottom: 2px solid black;
  margin: 10px;
  cursor: grab;
}
